<%= form_with model: @user, url: user_path(@current_user), method: :patch, local: true do |f| %>

<% end %>

<div class="profil-actions">
  <%= link_to "Modifier", edit_user_registration_path %>
</div>