<div class="favorite-container" 
     data-architect-id="<%= architect.id %>" 
     data-user-can-like="<%= user_signed_in? && current_user.client? %>">
  
  <%= heart_icon(architect) %>
  <span class="likes-count ms-1"><%= architect.likes_count %></span>

</div>