  <div>
  <% @specializations.each do |specialization|%>
    <h2><%= specialization.name%></h2>
    <div class="carousel">
      <button class="prev">&#10094;</button>
      <div class="carousel-images">
        <% specialization.multimedias.each_with_index do |media, index| %>
        <div class="carousel-image <%= 'active' if index == 0 %>">
          <%= image_tag(media.type_media, alt: "Image ##{media.id}") %>
          <%= link_to "Voir plus", specialization_path(specialization)%>
        </div>
        <% end %>
      </div>
      <button class="next">&#10095;</button>
    </div>
  <% end %>  