<div class="mt-5 mb-5">

  <h2 class="mt-100 mb-100">Nos Architectes en vedette</h2>

  <div class="carousel">
    <button class="prev">&#10094;</button>
    <div class="carousel-images">
      <% random_media.each_with_index do |media, index| %>
        <div class="carousel-image <%= 'active' if index === 0 %>">
          <%= image_tag(media.type_media, alt: "Image ##{media.id}") %>
          <% architect = media.portfolio.architect %>
          <%= link_to "Voir plus", architect_path(architect), class: "btn btn-more" %>
        </div>
      <% end %>
    </div>
    <button class="next">&#10095;</button>
  </div>
</div>

 
