<section>
  <div>
    <h2>Nos Architectes</h2>
    <div >
    <img src="https://img.freepik.com/photos-gratuite/quartier-residentiel-moderne-toit-vert-balcon-genere-par-ia_188544-10276.jpg" alt="exemple 1">
    <button>Voir plus</button>
    </div>
  </div>
    <div>
    <h2>Nos Architectes d'intérieur</h2>
    <div >
      <% random_media.each do |media| %>
        <div>
          <%= image_tag(media.type_media, alt: "Image ##{media.id}") %>
        </div>
      <% end %>
     <button>Voir plus</button>
    </div>
      <div>
    <h2>Nos Architectes paysagistes</h2>
    <div >
      <% random_media.each do |media| %>
        <div>
          <%= image_tag(media.type_media, alt: "Image ##{media.id}") %>
        </div>
      <% end %>
     <button>Voir plus</button>
    </div>
  </div>
  </div>
</section>
