<section>
  <div style="background-image: url('https://img.freepik.com/photos-premium/plancher-gris-ombre-plancher-mur-batiment-plafond-art-confort-bois-espace-beton-appartement-verre_1034924-16460.jpg'); background-repeat: no-repeat;" >
    <div >
      <h1>Trouve Ton Archi</h1>
      <p >Trouvez l'architecte idéal pour vos projets de construction, rénovation ou décoration.</p>
      <div>
        <input type="text" placeholder="Rechercher un architecte, une ville..."/>
        <span >🔍</span>
      </div>
    </div>
  </div>
</section>