<div class="mt-100">
<button type="button" class="btn btn-outline me-4">Moderne</button>
<button type="button" class="btn btn-outline me-4">Ancien</button>
<button type="button" class="btn btn-outline me-4">Renovation</button>
</div>