<section>
  <%= render 'shared/jumbotron' %>
</section>
<section class="container mt-5">
  <div class="mt-5 mb-5">
    <%= render 'shared/section_home_buttons' %>
  </div>
  <div >
    <%= render 'shared/home_architects' %>
  </div>
  <div >
    <%= render 'shared/home_specializations' %>
  </div>
</section>
