<section>
  <%= render 'shared/jumbotron' %>
</section>
<section class="home_body">
<div >
  <%= render 'shared/section_home_buttons' %>
</div>
<div >
  <%= render 'shared/home_architects' %>
</div>
<div >
  <%= render 'shared/home_specializations' %>
</div>
</section>
