<% content_for :title, "Modifier ton projet" %>
<% content_for :meta_description, "Page de modification du projet envoyé" %>

<div class="container mt-100 mb-5">
  <% content_for :title, "Editing project" %>

  <h1 class="mb-5">Modifier le projet</h1>

  <%= render "form", project: @project %>

  

  <div class="d-flex gap-3 mt-4">
    <%= link_to "Retour", :back, class: "btn btn-primary" %>
  </div>
</div>
