<div class="container mt-100 mb-100">
  <% content_for :title, "New project" %>

  <h1 class="mt-5 mb-5">Votre projet</h1>

  <%= render "form", project: @project %>

  <br>

  <div class="mt-5 mb-5">
    <%= link_to "Back to projects", projects_path, class:"btn btn-primary" %>
  </div>
</div>
