:root {
  --color-primary-color: #e5e2d9;
  --color-dark-gray: #536059;
  --color-medium-gray: #72827f;
  --color-light-gray: #849994;
  --color-danger: #916868;
  --color-warning: #a7977c;
  --color-success: #618866;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark-gray)!important;
  font-weight: bold;
}

p { 
  color: var(--color-medium-gray)!important;
}

a {
  text-decoration: none;
  color: var(--color-dark-gray);
}

/* --------------------------------- */
/*              HEADER               */
/* --------------------------------- */

.hero-header {
  position: relative;
  height: 100vh; 
  width: 100%;
  background-image: linear-gradient(
    to bottom,
     rgba(0,0,0,0) 50%,
     var(--color-primary-color) ),
     url('hero.jpg');
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  z-index: 1;
  padding-top: 170px; 
  padding-bottom: 500px; 
}


nav {
  z-index: 10;
}

.custom-position {
  max-width: 90vw; 
  padding: 0 1rem; 
  word-wrap: break-word;
}

/* --------------------------------- */
/*            SEARCH BAR             */
/* --------------------------------- */

.search-container {
  display: flex;
  border: 2px solid var(--color-light-gray);
  border-radius: 25px; 
  padding: 0.4rem 1rem;
  max-width: 450px;
  background-color: white;
  margin-left: auto;
}

.search-container .iconify {
  font-size: 1.5rem;
  color: var(--color-light-gray);
  margin-right: 0.5rem;
}

.search-container input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 1rem;
  border-radius: 25px;
}

/* --------------------------------- */
/*              BOUTONS              */
/* --------------------------------- */

.btn {
  border-radius: 0;
  font-size: 1.2rem;        
  padding: 8px 18px;
  border: none;
}

.btn.btn-primary {
  background-color: var(--color-light-gray);        
  color: var(--color-primary-color);               
 
}

.btn.btn-danger {
  background-color: var(--color-danger);       
  color: var(--color-primary-color);                  
}

.btn.btn-warning {
  background-color: var(--color-warning);       
  color: var(--color-primary-color);                  
}

.btn.btn-success {
  background-color: var(--color-success);       
  color: var(--color-primary-color);                  
}

.btn.btn-outline {
  border-radius: 25px; 
  color: var(--color-light-gray); 
  border: 3px solid var(--color-light-gray);
  background: transparent;
}

.btn.btn-lg {
   
  font-size: 1.4rem;        
  padding: 12px 26px;
}

.btn.btn-sm {
   
  font-size: 1rem;        
  padding: 6px 18px;
}

.btn:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}

.btn:active {
  background-color: var(--color-dark-gray)!important; 
  color: var(--color-primary-color)!important; 
  
}

/* --------------------------------- */
/*              CARDS                */
/* --------------------------------- */

.card {
  border-radius: 0;
  background-color: white;
  border: none;
  box-shadow: 
    10px 10px 0 0 var(--color-medium-gray); 
      
  transform: translateX(-5px);
}

.custom-sm-card {
  width: 300px; 
  border-radius: 0;
  overflow: hidden; 
  background-color: white;
  display: flex;
  flex-direction: column;
}

.custom-card {
  width: 400px; 
  border-radius: 0;
  overflow: hidden; 
  background-color: white;
  display: flex;
  flex-direction: column;
}

.custom-card:hover {
  box-shadow: 
    10px 10px 0 0 var(--color-medium-gray); 
      
  transform: translateX(-5px);
}

.card-sm-image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 200px; 
}

.card-image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 250px; 
}

.card-sm-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.8rem 1rem; 
  margin: 0;
}
.card-body {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  background-color: white;
  padding: 1rem;
  gap: 0.5rem; 
}

.card-name {
  color: var(--color-dark-gray);
  font-weight: bold;
}

/* --------------------------------- */
/*               FORM                */
/* --------------------------------- */

.form-control {
  background-color: var(--color-primary-color); 
  border-radius: 0; 
}

.form-control:focus {
  border-color: var(--color-primary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.custom-link {
  color: var(--color-dark-gray); 
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}