<table width="100%" cellpadding="0" cellspacing="0" style="background-color: #e5e2d9; padding: 4rem; font-family: 'Roboto', Helvetica, sans-serif;">
  <tr>
    <td>
      <h2 style="color: #536059;">Bonjour !</h2>

      <p style="color: #72827f; padding-bottom: 5px; font-size: 16px;">Quelqu’un a demandé un lien pour réinitialiser votre mot de passe. Vous pouvez le faire en cliquant sur le lien ci-dessous :</p>

      <p style="color: #72827f; padding-bottom: 10px; font-size: 16px;"><%= link_to 'Réinitialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

      <p>
        <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>"
          style="display: inline-block; padding: 12px 24px; background-color: #849994; color: #e5e2d9; text-decoration: none; font-size: 16px; font-weight: bold; border-radius: 5px;">
          Réinitialiser mon mot de passe
        </a>
      </p>

      <p style="color: #72827f; padding-bottom: 10px; font-size: 16px;">Votre mot de passe ne sera pas modifié tant que vous n’aurez pas accédé au lien ci-dessus et défini un nouveau mot de passe.</p>

      <p style="color: #72827f; padding-bottom: 10px; font-size: 14px;">L'équipe de <strong>Trouve ton architecte</strong>.</p>
    </td>
  </tr>
</table>