<nav>
    <div class="d-flex justify-content-between align-items-center">

      <ul class="list-unstyled d-flex gap-4 px-4 py-2">
        <li><a href="">TTA</a></li>
        <li><a href="">Architecte</a></li>
        <li><a href="">Architecte d'intérieur</a></li>
        <li><a href="">Architecte paysagiste</a></li>
      </ul>

      <ul class="list-unstyled d-flex gap-4 px-4 py-2">
        <li><a href=""> <iconify-icon icon="bxs:user" width="24" height="24"></iconify-icon></a></li>
        <li><a href=""> <iconify-icon icon="fluent:heart-32-filled" width="24" height="24"></iconify-icon></a></li>
      </ul>

    </div>
  </nav>